<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>任务列表</title>
    <link rel="stylesheet" href="../css/layui.css" media="all">
    <style>
        body{margin: 10px;}
        .demo-carousel{height: 200px; line-height: 200px; text-align: center;}
    </style>
    <script src="../js/jquery.min.js"></script>
    <script th:inline="javascript">
        function deleteProcess(obj){
            var id=obj.attributes['objectid'].nodeValue;
            $.ajax({
                url:"/task/delete/"+id,
                type:"GET",
                success:function(res){
                    alert(res);
                    $("#taskList").submit();
                }

            });

        }

    </script>
</head>
<body>


<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li><a href="/model/create">新建流程</a></li>
        <li ><a href="/model/list">流程模型</a></li>
        <li><a href="/processDefinition/list">流程定义</a></li>
        <li ><a href="/processInstance/list">流程实例</a></li>
        <li class="layui-this"><a href="/task/list">当前任务</a></li>
        <li ><a href="/historicProcessInstance/list">历史实例</a></li>
    </ul>
</div>
<form id="taskList" class="layui-form layui-form-pane" action="/task/list">
    <input type="hidden" id="page" name="page" th:value="${page}">
    <input type="hidden" id="limit" name="limit" th:value="${limit}">
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">部署ID</label>
        <div class="layui-input-inline">
            <input type="text"  th:value="${deploymentId}" name="deploymentId" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-inline" style="width: 22%;">
        <label class="layui-form-label">流程key</label>
        <div class="layui-input-inline" style="width: 66%;">
            <select name="key" id="key"  >
                <option value="">请选择</option>
                <option th:each="data : ${processDefinitionList}" th:text="${data}" th:value="${data}" ></option>
            </select>
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label">流程实例ID</label>
        <div class="layui-input-inline">
            <input type="text"  th:value="${processInstanceId}" name="processInstanceId" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label">受理人</label>
        <div class="layui-input-inline">
            <input type="text"  th:value="${userId}" name="userId" placeholder="受理人" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-inline">
        <button type="submit" class="layui-btn layuiadmin-btn-list" lay-submit="" lay-filter="LAY-app-contlist-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
        </button>
    </div>

</div>

</form>
<div class="layui-form">
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>ID</th>
            <th>节点名称</th>
            <th>受理人</th>
            <th>节点信息</th>
            <th>流程实例ID</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data : ${tasks}">
            <td th:text="${data.id}"></td>
            <td th:text="${data.name}"></td>
            <td th:text="${data.assignee}"></td>
            <td th:text="${data.taskDefinitionKey}"></td>
            <td th:text="${data.processInstanceId}"></td>
            <td th:text="${#dates.format(data.createTime, 'yyyy-MM-dd HH:mm:ss')}" ></td>
            <td>
                <a target="_blank" th:href="${'/task/view?processInstanceId='+data.processInstanceId}" th:attrappend="objectId=${data.processInstanceId}" class="layui-btn layui-btn-xs">流程图</a>
                <a href="javascript:void(0);" onclick="deleteProcess(this);" th:attrappend="objectId=${data.id}" class="layui-btn layui-btn-danger layui-btn-xs">删除</a>
            </td>
        </tr>

        </tbody>
    </table>
    <div id="demo1"></div>
</div>
</body>
<script src="../layui.js" charset="utf-8"></script>
<script>

    $().ready(function() {
        var single = '[[${searchKey}]]';
        if(single != ""){
            $("#key option[value= " + single + "]").prop("selected",true);
        }
    });

    layui.use(['form', 'layedit', 'laydate'], function(){

        var form = layui.form;
    });

    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage
            ,layer = layui.layer;

        //完整功能
        laypage.render({
            elem: 'demo1'
            ,count: '[[${total}]]'
            ,curr: '[[${page}]]'
            ,limit: '[[${limit}]]'
            ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            ,jump: function(obj,first){

                if(!first){
                    $("#limit").val(obj.limit);
                    $("#page").val(obj.curr);
                    $("#taskList").submit();
                }
            }
        });
    });
</script>
</html>